
<div class="row">
    <div class="col-md-2">


    </div>
    <div class="col-md-8 text-center">
        <h2>Consultas Marchamo</h2>
   
         <input style="margin-left:31%"  id="idU" name="id" type="text" class="form-control" placeholder="Su ID" />
       
      
        <br/>  <button onclick="getUserData()" class="btn btn-danger "> Buscar </button> 
        <hr />
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Propietario</th>
                    <th>ID</th>

                    <th>Auto</th>
                    <th>Vencido</th>
                    <th>Multas</th>
                    <th>Total</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td id="search-prop"></td>
                    <td id="search-id"></td>
                    <td id="search-auto"></td>
                    <td id="search-vencido"></td>
                    <td id="search-multas"></td>
                    <td id="search-total"></td>
                </tr>

            </tbody>
        </table>

    </div>

    <div class="col-md-2">
      

   </div>
   
</div>
