
<div class="row">
    <div class="col-md-4">
        <h2>Transacciones con BD </h2>
   
         <input id="idU" name="id" type="text" class="form-control" placeholder="Su ID" />
       
         
        <br/>  <button onclick="getUserData()" class="btn btn-danger"> Buscar </button> 
        <p>

        </p>

    </div>

    <div class="col-md-6">
        <h2>Resultados</h2>
        <hr />
        <label>Nombre</label>
        <h1 id="nombre"></h1>
        <label>Tarjeta</label>
        <h2 id="tarjeta"></h2>
        <label>Auto</label>
        <h3 id="auto"></h3>
        <label>Multas</label>
        <h3 id="multas"></h3>

   </div>
   
</div>
