
<div class="row">
    <div class="col-md-3">

    </div>
    <div class="col-md-4 jumbotron text-center">
        <button onclick="Register(); " type="button" class="pulse-loader" data-toggle="collapse"
                data-target="#demo">
            Resultados
        </button>
        <hr />
        <form action="javascript:RegisterT()">
            <input id="idR" name="id" type="text" class="form-control" placeholder="Pulse para Identificar Tarjeta" />

            <input id="idR" name="Propietario" type="text" class="form-control" placeholder="ID" />

            <input id="idR" name="Auto" type="text" class="form-control" placeholder="ID" />

            <input id="idR" name="Vencido" type="text" class="form-control hidden" placeholder="ID" value="false" />


            <hr />
            <button class="btn btn-danger" type="submit"> Registrar</button>

        </form>
        
        

    </div>

    <div class="col-md-3">

   </div>
   
</div>
