
<div class="row">
  
    <hr />
    <div class="col-md-6 jumbotron text-center">
      
        <h5>Toque para analizar tarjeta</h5>
        <button onclick="Register(); " type="button" class="pulse-loader" data-toggle="collapse"
                data-target="#demo">
            Resultados
        </button>

              
    </div>

    <div class="col-md-6">
        <div class="text-center" style="margin-left:15%">
            <input id="codeR" name="id" type="text" class="form-control" placeholder="Pulse para Identificar Tarjeta" />
            <br />
            <input id="idR" name="Propietario" type="text" class="form-control" placeholder="ID" />

            <input id="prR" name="Propietario" type="text" class="form-control" placeholder="ID" />
            <br />
            <input id="auR" name="Auto" type="text" class="form-control" placeholder="IDsss" />
            <br />
            <input id="vdR" name="Vencido" type="text" class="form-control hidden" placeholder="IDff" value="false" />
       

            <button onclick="RegisterT()" class="btn btn-danger text-center" type="submit"> Registrar</button>
        </div>
   </div>
   
</div>
