<div class="row">
    <div class="col-md-3">
        <hr />
        <h2> Marchamos 2015</h2>
        <h3 class="lead">
            Todo listo! Detectaremos cuando un automóvil registrado pase por aquí  .
        </h3><hr />
        <div class="pulse-loader" style="margin-left:35%">
            Loading…
        </div>
    </div>
    <div class=" col-md-9 text-center  ">

        <p id="codex" class="jumbotron"> </p>
    </div>
    
</div>