<div class="row">
    <div class="col-md-3">
        <hr />
        <h2> Marchamos 2015</h2>
        <h3 class="lead">
            Todo listo! Detectaremos cuando un automóvil registrado pase por aquí  .
        </h3><hr />
        <div class="pulse-loader" style="margin-left:35%">
            Loading…
        </div>
    </div>
    <div class=" col-md-6 text-center  ">

        <p id="codex" class="jumbotron"> </p>

    </div>
    <div class="col-md-3">

        <!--
        <a class="twitter-timeline" href="https://twitter.com/aallanrd" data-widget-id="458358967274463232">Tweets por aallanrd.</a>
        --></div>
    
</div>